body {
  text-align: center;
  min-width: 700px;
}

header > h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

main {
  margin-bottom: 70px;
}

#images {
  margin-bottom: 30px;
}

img {
  width: 256px;
  margin: 5px 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 15px rgb(51, 51, 51);
}

img:hover {
  box-shadow: 10px 10px 25px 5px rgb(51, 51, 51);
}

a {
  padding: 5px;
  margin-bottom: 50px;
  text-decoration:none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(145, 161, 173);
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid black;
  padding: 2px 8px;
}

th {
  background-color: rgb(157, 214, 246);
}

#thirdCol {
  width: 95px;
}

img.noHover {
  box-shadow: 5px 5px 15px rgb(51, 51, 51);
  opacity: .5;
}

table > p {
  font-weight: bold;
}

tr:hover td {
  background-color: rgba(157, 214, 246, 0.3);
}

#canvasContainer {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
