body {
  text-align: center;
  min-width: 700px;
}

header > h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

main {
  margin-bottom: 70px;
}

#images {
  margin-bottom: 30px;
}

img {
  width: 256px;
  margin: 5px 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 15px rgb(51, 51, 51);
}

img:hover {
  box-shadow: 10px 10px 25px 5px rgb(51, 51, 51);
}

#buttons {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

a {
  padding: 5px 20px;
  text-decoration:none;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  background: -moz-linear-gradient(top, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%);
  background: -webkit-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
}

a:hover {
  background: -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%);
  background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid black;
  padding: 2px 8px;
}

th {
  background-color: rgb(157, 214, 246);
}

#thirdCol {
  width: 95px;
}

img.noHover {
  box-shadow: 5px 5px 15px rgb(51, 51, 51);
  opacity: .5;
}

table > p {
  font-weight: bold;
}

tr:hover td {
  background-color: rgba(157, 214, 246, 0.3);
}

#canvasContainer {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
